<!doctype html>
<html>
  <head>
    {{ bokeh_script }}
    <title>Run {{ uid }}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <h1>Run {{ uid }}</h1>
      <h2>Fields</h2>
      <ul>
        {% for field in fields %}
          <li>{{ field }}</li>
        {% endfor %}
        <!-- <li><a href="/run/{{ uid }}/plotter">Plot</a></li> -->
      </ul>
    </div>
  </body>
  <head>
    <link
      href="http://cdn.pydata.org/bokeh/release/bokeh-{{ bokeh_version }}.min.css"
      rel="stylesheet" type="text/css">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-{{ bokeh_version }}.min.js">
    {{ plot_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}
  <head>
    <body>{{ plot_div|indent(4)|safe }}</body>
</html>
